*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.img11{
    width: 1300px;
    margin-left: 250px;
    margin-top: 20px;
    box-shadow: 15px 20px 45px 10px rgb(0, 0, 0);
    border-radius: 5px;
}
.p1{
    color: aliceblue;
    margin-left: 320px;
    font-size: 30px;
    margin-top: -850px;
}
.ps{
    display: flex;
    margin-left: 1100px;
    color: aliceblue;
    
}
.p11 :hover{
    transform: rotate(360deg);
    transition: 0.5s;
}
.p11{
    margin-left: 35px;
}
.p2{
    font-size: 55px;
    font-family: sans-serif;
    font-weight: 900;
    color: aliceblue;
    margin-left: 690px;
    margin-top: 250px;
}
.p3{
    font-size: 20px;
    color: aliceblue;
    margin-left: 830px;
    font-weight: 100;
}
.btn1{
    width: 160px;
    height: 40px;
    border-radius: 360px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 860px;
    margin-top: 20px;
}